*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}
.card{
    width: 80%;
    margin: 8rem auto;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 10px 0px 50px grey;
}
.card .card1{
    width: 50%;
    height: 70vh
}

.card .card2{
    width: 50%;
    height: 50vh;
}

.card1 img{
    width: 100%;
    height: 70vh;
    background-size: cover;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.connexion{
    width: 80%;
    height: 50vh;
    margin: 3rem auto;
    padding-top: 2rem;
}
.icon{
    float: right;
    display: flex;
}
.icon div{
    height: 50px;
    width: 50px;
    margin:  0px 5px;
    text-align: center;
    border-radius: 50%;
    border: 1px solid gray;
    font-size: 1.5rem;
}
.icon i{
    color: gray;
    margin-top: .7rem;
}
.input{
    margin-top: 3rem;
}
.input input{
    width: 100%;
    padding: 1rem;
    border: 1px solid gray;
    margin: 1rem 0;
    border-radius: 5px;
}
.input input::placeholder{
    color: gray;
}
.input label{
    font-size: 1.2rem;
}
.input button{
    width: 100%;
    height: 60px;
    margin: 1rem 0;
    color: #FFF;
    border-radius: 5px;
    border: none;
    background-color: skyblue;
}
.check{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}
.connect{
    text-align: center;
    margin-top: 5rem;
    font-size: 1.2rem;
}
.connect a {
    text-decoration: none;
    color: skyblue;
}
.check div{
    color: skyblue;
}
.check a{
    text-decoration: none;
    color: #000;
}